<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
            </div>
            <h3 class="section-subheading">
                <p>With the HHS Office of the Chief Technology Officer (CTO), Presidential Innovation Fellows (PIF) jointly pioneered the health tech sprint,
                    "TOP Health," that chose 10 teams delivering digital tools — built with open federal data and emerging technologies like Artificial Intelligence (AI)
                    — to improve clinical trials, experimental therapies, and data-driven solutions for complex challenges from cancer to Lyme and tick-borne diseases.
                    The teams ranged from two international teams (i.e. Microsoft Healthcare and Philips Research) to one originally at a medical
                    center that officially spun out into a new company specifically based on the AI clinical trial search tool developed during the sprint.
                    It included physicians and patient advocates as well as data stewards and experts in the relevant domain areas from within government.

                </p>
                <p> The project drew on resources across over a dozen federal agencies/departments including:
                    Department of Veterans Affairs (VA), United States Patent and Trademark Office (USPTO), National Cancer Institute (NCI),
                    General Services Administration (GSA), Department of Health and Human Services (HHS), Department of Commerce (DOC)/Census Bureau,
                    National Institutes of Health (NIH)/National Library of Medicine (NLM), Food and Drug Administration (FDA),
                    Consumer Financial Protection Bureau (CFPB), Department of Defense (DOD), Centers for Medicare and Medicaid Services (CMS),
                    Department of Housing and Urban Development (HUD), Department of Energy (DOE), The White House Office of Management and Budget (OMB).
                    This project represents one of the first instances of a new program that led to new open federal data via machine readable information as defined per
                    the newly signed "OPEN Government Data Act" under the "Foundations for Evidence-based Policymaking Act" (signed Jan 15, 2019).
                    A final demo day will take place on March 1 with cross-agency leadership .

                </p>
                <p>For more information on:
                    <p>Sprint results:</p>
                <a href="https://www.hhs.gov/cto/blog/2019/1/17/top-health-tech-sprint-unleashes-the-power-of-open-data-and-ai.html">https://www.hhs.gov/cto/blog/2019/1/17/top-health-tech-sprint-unleashes-the-power-of-open-data-and-ai.html</a>
                </p>
                <p>
                    <p>Sprint participants:</p>
                <a href="https://digital.gov/2018/11/02/health-tech-sprint-aims-at-improving-care-access-experience/">https://digital.gov/2018/11/02/health-tech-sprint-aims-at-improving-care-access-experience</a>
                </p>
            </h3>

          </div>
    </div>
</section>