<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted">
                        <p>Federal open data is a key driver for health innovation. In addition to research and
                            development
                            dollars, the federal government provides key datasets to startups, academia, and industry.
                            In this tech sprint, this federal open-data ecosystem is used as a platform for industry to
                            create value for Americans. Participating tech teams will pilot use of novel federal
                            open-data datasets designed specifically for this sprint, build tools around them,
                            and present results at a public “Demo Day” event in 2019 with leadership across agencies.
                            The results will also provide feedback on the types of dataset creation and design that
                            federal agencies and others can do to promote use of AI and data in this space, and in
                            general.
                    </p>
                    <p>The Opportunity Project (TOP) is a lightweight
                        process for engaging the tech industry to
                        create data-driven digital products that benefit
                        the public and drive economic activity.
                    </p>
                </h3>
            </div>
        </div>
    </div>
</section>