<!-- Services Section -->
<section id="data">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Data</h2>
                <h3 class="section-subheading text-muted">Github repository/data/code will be made available and updated
                    <a
                            href="https://github.com/tophealth/tophealth.github.io/tree/master/data">here</a>.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3">
                <a href="../data/batch1/Dataset1_First.zip"><span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">
                        <p>Dataset 1</p></h4>
                </a>
                <p class="text-muted"></p>
            </div>
            <div class="col-md-3">
                <a href="../data/batch1/Dataset1_First.zip"><span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">
                        <p>Dataset 2</p></h4>
                </a>
                <p class="text-muted"></p>
            </div>
            <div class="col-md-3">
                <a href="../data/batch3/Dataset3_First.zip"><span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">
                        <p>Dataset 3</p></h4>
                </a>
                <p class="text-muted"></p>
            </div>
            <div class="col-md-3">
                <a href="../data/batch3/Dataset3_Participants_1-10.zip"><span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">
                        <p>Dataset 3, version 2</p></h4>
                </a>
                <p class="text-muted"></p>
            </div>
        </div>
    </div>
</section>