<!-- Timeline Section -->
    <section id="timeline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Timeline</h2>
                    <h3 class="section-subheading text-muted">Tentative dates</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Monday, October 15, 2018</h4>
                                    <h4 class="subheading">TOP sprint kick-off</h4>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Wednesday, November 7th, 2018</h4>
                                    <h4 class="subheading">Alpha demos (virtual)</h4>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Wednesday, December 5th, 2018</h4>
                                    <h4 class="subheading">Beta demos (virtual)</h4>
                                </div>

                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Wednesday, January 9, 2018</h4>
                                    <h4 class="subheading">Final demos (virtual)</h4>
                                </div>

                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h3>Demo
                                    <br>Day!</h3>
                                <p>Washington, DC</p>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>